{% extends "manage-student.html" %}

{% block classTitle %}
    {{ class.name }}
{% endblock %}

{% block classBodyBlock %}
    <div class="container">
    {% if students %}
        {% for student in students %}
            <div class="row mt-5 mr-1 ml-3">
                <div class="col -3">
                  <div class="row">
                  <div class=col>
                    <p>{{ student.name }}</p>
                  </div>
                  <div class=col>
                    <button class="btn btn-quizBuddy-1 mr-2" type="button" onclick="window.location.href='#'">press</button>
                  </div>
                  </div>
                </div>
                <div class="col -3">

                </div>
            </div>
        {% endfor %}
    {% else %}
        <div class="alert alert-danger mt-1 mr-1 ml-3" role="alert">
            {{ class.name }} does not have any students yet.
        </div>
    {% endif %}
    </div>
{% endblock %}
