{% extends "manage-student.html" %}

{% block classTitle %}
    {{ class.name }}
{% endblock %}

{% block classBodyBlock %}
    <div class="container">
    {% if students %}
        {% for student in students %}
            <div class="row mt-5 mr-1 ml-3">
                <div class="col -3">
                  <div class="row">
                  <div class=col>
                    <p>{{ student.name }}</p>
                  </div>
                  <div class=col>
                    <!-- sends chosen student's email to the view so the student can be removed from the class -->
                    <form id="delete" method="post" action="{% url 'classList' class.slug %}">
                      {% csrf_token %}
                    <button class="btn btn-quizBuddy-1 mr-2" name="student" type="submit" value={{student}}>remove</button>
                  </form>
                  </div>
                  </div>
                </div>
                <div class="col -3">

                </div>
            </div>
        {% endfor %}
    {% else %}
        <div class="alert alert-danger mt-1 mr-1 ml-3" role="alert">
            {{ class.name }} does not have any students yet.
        </div>
    {% endif %}
    </div>
{% endblock %}
