{% extends 'base.html' %}

{% block title_block %}
        Quiz Creation
{% endblock %}

{% block header_buttons %}
    <button class="btn btn-quizBuddy-1 mr-2" type="button">Sign up, Student</button>
    <button class="btn btn-quizBuddy-1-dark mr-2" type="button">Sign up, Teacher</button>
{% endblock %}

{% block body_block%}
    <form action="{% url 'createQuiz' %}" method="POST">
        {% csrf_token %}
        {{ quizCreationForm }}
        <input type="submit" value="submit" />
    </form>
{% endblock %}
