{% extends 'dashboard-teacher.html' %}

{% block head_block %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.min.css" integrity="sha256-DOS9W6NR+NFe1fUhEE0PGKY/fubbUCnOfTje2JMDw3Y=" crossorigin="anonymous" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.full.min.js" integrity="sha256-FEqEelWI3WouFOo2VWP/uJfs1y8KJ++FLh2Lbqc8SJk=" crossorigin="anonymous"></script>
{% endblock %}

{% block title_block %}
       Quiz Creation
{% endblock %}

{% block dash_button %}
    <button class="btn btn-quizBuddy-3 mr-2" type="button" onclick="window.location.href={% url 'dashboardTeacher' %}">Dashboard</button>
{% endblock %}

{% block body_block%}
<div class="jumbotron jumbotron-fluid bg-white" align="center" style="height:100vh; padding-top:0;">
<h3 class="title" align="center">Create Quiz</h3>
<div class="card" style="width: 40rem;" align="center">
    <div class="card-body bg-light">
        <form action="{% url 'createQuiz' %}" method="post">
            <div class="form-group">
                {% csrf_token %}
                {{ quizCreationForm.as_p }} <br>
            </div>
            {{ questionForms.management_form }}
            <div id="form_set">
                {% for question in questionForms.forms %}
                    {{ question.non_field_errors }}
                    {{ question.errors }}
                    <table class="no_error">
                        {{question.as_p}}
                    </table>
                {% endfor %}
            </div>
            <input type="button" value="Add Question" id="add_question" /> <hr>
            <div id="empty_form" style="display:none">
                <div class="no_error">
                    {{ questionForms.empty_form.as_p }}
                </div>
            </div>
            <input type="submit" value="submit" class="btn btn-block btn-primary" />
        </form>
    </div>
</div>
</div>
<script>
    $(function () {
        $("#id_due_date").datetimepicker({
            format: 'd/m/Y H:i',
        });
    });
    $('#add_question').click(function() {
	    var form_idx = $('#id_form-TOTAL_FORMS').val();
	    $('#form_set').append($('#empty_form').html().replace(/__prefix__/g, form_idx));
	    $('#id_form-TOTAL_FORMS').val(parseInt(form_idx) + 1);
    });
</script>
{% endblock %}