{% extends 'base.html' %}
{% load static%}

{% block title_block %}
        Teachers Dashboard
{% endblock %}

{% block header_buttons %}
    <button class="btn btn-quizBuddy-4 mr-2" type="button" onclick="window.location.href={% url 'about' %}">About</button>
    {% block dash_button %}
    {% endblock %}
    <div class="btn-group" role="group">
    <button id="btnGroupDrop1" type="button" class="btn btn-quizBuddy-1-dark mr-2 dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Create
    </button>
    <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
        <a class="dropdown-item" href="#">Create Class</a>
        <a class="dropdown-item" href={% url 'createQuiz' %}>Create Quiz</a>
    </div>
    </div>
    <button class="btn btn-quizBuddy-3 mr-2" type="button" onclick="window.location.href={% url 'quizResultsTeacher' %}">View Results</button>

    <div class="btn-group" role="group">

    <button id="btnGroupDrop1" type="button" class="btn btn-quizBuddy-4 mr-2 dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Manage
    </button>
    <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
        <a class="dropdown-item" href={% url 'manageStudent' %}>Manage Students</a>
        <a class="dropdown-item" href={% url 'quizLibrary' %}>Quiz Library</a>
    </div>
    </div>
    <button class="btn btn-quizBuddy-1-dark mr-2" type="button" onclick="window.location.href={% url 'preferencesTeacher' %}">Preferences</button>
    <button class="btn btn-quizBuddy-5 mr-2" type ="button" onclick="window.location.href={% url 'user_logout' %}">Logout</button>
{% endblock %}

{% block body_block%}
<div class="container-fluids">
    <div class="row">
        <div class = "col-8">
            {% if classes %}
            <nav class="navbar navbar-expand-lg navbar-light bg-light border-secondary border-left border-bottom border-right rounded-bottom">
                <a class="navbar-brand">
                    Your Classes
                </a>
            <ul class="nav nav-tabs mt-1 mb-1 mr-1 ml-3">
                {% for class in classes %}
                    <li class="nav-item">
                        <a href={% url 'classTeacher' class.slug %} class="btn btn-quizBuddy-4 mr-2 " role="button">{{ class.name }}</a>
                    </li>
                {% endfor %}
            </ul>
            </nav>
            <div>
                {% block classBodyBlock %}

                {% endblock %}
            </div>
            {% else %}
                <div class="alert alert-danger mt-1 mr-1 ml-3" role="alert">
                    You have not created any classes
                </div>
            {% endif %}
        </div>
        <div class="col-4 ">
            <br>
            <div class="card" style="width: 20rem;">
                <div class="card-body">
                    <h5 class="card-title">Next Quiz Due:</h5>
                    {% if quizzes %}
                        {% block next_quizzes %}
                            {% for key, value in quizzes.items %}
                                <p class="card-text mb-1 ">{{key}}: {{value.due_date}}</p>
                            {% endfor %}
                        {% endblock %}
                    {% else %}
                        <p class="card-text">You have no classes</p>
                    {% endif %}
                </div>
            </div>
        </div>
{% endblock %}
