{% extends 'base.html' %}
{% load static%}

{% block title_block %}
        Student Dashboard
            {% block classTitle %}

            {% endblock %}
{% endblock %}

{% block header_buttons %}
    <button class="btn btn-quizBuddy-4 mr-2" type="button" onclick="window.location.href={% url 'about' %}">About</button>
    {% block next_quiz %}
        <button class="btn btn-quizBuddy-5 mr-2" type="button" >Next deadline: {{nextQuiz}}</button>
    {% endblock %}
    {% block dash_button %}
    {% endblock %}
    <button class="btn btn-quizBuddy-3 mr-2" type="button" onclick="window.location.href={% url 'quizResultsStudent' %}">Results</button>
    <button class="btn btn-quizBuddy-3 mr-2" type="button" onclick="window.location.href={% url 'preferencesStudent' %}">Preferences</button>
    <button class="btn btn-quizBuddy-5 mr-2" type="button" onclick="window.location.href={% url 'user_logout' %}">Logout</button>
{% endblock %}

{% block body_block%}
<div class="container-fluid">
    <div class="row">
        <div class = "col-8">
            {% if classes %}
            <nav class="navbar navbar-expand-lg navbar-light bg-light border-secondary border-left border-bottom border-right rounded-bottom">
            <ul class="nav nav-tabs mt-1 mr-1 ml-3">
                {% for class in classes %}
                    <li class="nav-item">
                        <a href={% url 'classStudent' class.slug %} class="btn btn-quizBuddy-4 mr-2 mb-1" role="button">{{ class.name }}</a>
                    </li>
                {% endfor %}
            </ul>
            </nav>
            <div>
                {% block classBodyBlock %}

                {% endblock %}
            </div>
            {% else %}
                <div class="alert alert-danger mt-1 mr-1 ml-3" role="alert">
                    You are not enrolled into any classes, contact your teacher.
                </div>
            {% endif %}
        </div>
        <div class="col-4 ">
            <br>
            <div class="card" style="width: 18rem;">
                <br>
                <img class="card-img-top" src= "{%static 'images/character/characterProfileLev1.jpg'%}" alt="Character"/>
                <div class="card-body">
                    <h5 class="card-title">{{user.username}}</h5>
                    <p class="card-text">Level: {{user.character.evolutionStage}}</p>
                    <p class="card-text">Points: {{user.evolveScore}}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
