{% extends 'base.html' %}
{% load static%}

{% block title_block %}
        Student Dashboard
            {% block classTitle %}

            {% endblock %}
{% endblock %}

{% block header_buttons %}
    <button class="btn btn-quizBuddy-4 mr-2" type="button" onclick="window.location.href={% url 'about' %}">About</button>
    <button class="btn btn-quizBuddy-3 mr-2" type="button" onclick="window.location.href={% url 'preferencesStudent' %}">Preferences</button>
    <button class="btn btn-quizBuddy-5 mr-2" type="button">{{nextQuiz}}</button>
    <a href={% url 'user_logout' %} class="btn btn-quizBuddy-4 mr-2" role="button">Logout</a>
{% endblock %}

{% block body_block%}
<div class="container-fluids">
    <div class="row">
        <div class = "col-8">
            {% if classes %}
            <ul class="nav nav-tabs mt-1 mr-1 ml-3">
                {% for class in classes %}
                    <li class="nav-item">
                        <a href={% url 'classStudent' class.slug %} class="btn btn-quizBuddy-4 mr-2" role="button">{{ class.name }}</a>
                    </li>
                {% endfor %}
            </ul>
            <div>
                {% block classBodyBlock %}

                {% endblock %}
            </div>
            {% else %}
                <div class="alert alert-danger mt-1 mr-1 ml-3" role="alert">
                    You are not enrolled into any classes, contact your teacher.
                </div>
            {% endif %}
        </div>
        <div class="col-4 ">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src= "{%static 'images/character/characterProfileLev1.jpg'%}" alt="Card image cap"/>
                    <div class="card-body">
                    <h5 class="card-title">Username: {{user.username}}</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
