{% extends 'base.html' %}
{% load static%}

{% block title_block %}
        Teachers Dashboard
{% endblock %}

{% block header_buttons %}
<button class="btn btn-quizBuddy-4 mr-2" type="button" onclick="window.location.href={% url 'about' %}">About</button>
<button class="btn btn-quizBuddy-3 mr-2" type="button" onclick="window.location.href={% url 'preferences' %}">Preferences</button>
    <button class="btn btn-quizBuddy-1-dark mr-2" type="button">Create class</button>
    <button class="btn btn-quizBuddy-5 mr-2" type="button">Create quiz</button>
{% endblock %}

{% block body_block%}
<div class="container-fluids">
    <div class="row">
        <div class = "col-8">
            {% if hasClasses %}
            <ul class="nav nav-tabs mt-1 mr-1 ml-3">
                {% for class in classes %}
                    <li class="nav-item">
                        <a href={% url 'classList' class.slug %} class="btn btn-quizBuddy-4 mr-2" role="button">{{ class.name }}</a>
                    </li>
                {% endfor %}
            </ul>
            <div>

            </div>
            <div>
                {% block classBodyBlock %}

                {% endblock %}
            </div>
            {% else %}
                <div class="alert alert-danger mt-1 mr-1 ml-3" role="alert">
                    You are not enrolled into any classes, contact your teacher.
                </div>
            {% endif %}
        </div>
{% endblock %}
