{% extends 'dashboard-student.html' %}
{% load quiz_template_tags %}

{% block head_block %}
    <style> ul {
        list-style-type: none;
    }
    </style>
{% endblock %}

{% block title_block %}
    Quiz {{quiz.name}}
{% endblock %}

{% block header_buttons %}
    <button class="btn btn-quizBuddy-4 mr-2" type="button" onclick="window.location.href={% url 'dashboardStudent' %}">Dashboard</button
{% endblock %}

{% block body_block%}
    <div class="container">
        <div class="col mt-1 mr-5">
            <h3>
            {{quiz.name}}
            <small class="text-muted"> {{quiz.question_count}} questions</small>
            </h3>
        </div>
        <div class="col mt-4 mr-5">
            <form action="{% url 'quiz' class.slug quiz.slug %}" method="post">
                {% csrf_token%}
                {% for question, questionValues in questions.items %}

                    <h4>{{question}}</h4>
                    <div class="form-group">
                        {% for options in questionValues %}
                            {% for option in options %}
                            <div class="form-check">
                                <input class="form-check-input" id="{{option.optionId}}" type="radio" name={{question.questionId}} value={{option.is_correct}}>
                                <label class="form-check-label" for={{ question.questionId }}>
                                    {{option.text}}
                                </label>
                            </div>
                            {% endfor %}
                        {% endfor %}
                    </div>
                {% endfor %}
                <button type="submit" class="btn btn-primary" formmethod="post" formaction="{% url 'quiz' class.slug quiz.slug %}">Submit</button>
            </form>
        </div>
    </div>
{% endblock %}