{% extends 'dashboard-student.html' %}
{% load static%}

{% block title_block %}
    Quiz Results
{% endblock %}
{% block dash_button %}
    <a href={% url 'dashboardStudent' %} class="btn btn-quizBuddy-4 mr-2" role="button">Dashboard</a>

{% endblock %}

{% block body_block %}
<div class="container">
    <div class="row mt-5 mr-1 ml-3">
        <div class="col -3">
            <h1>Quiz Results</h1>
            {% if quiz_taken %}
                <table class = 'table'>
                    <tr>
                        <th>Quiz Name</th>
                        <th>Class</th>
                        <th>Your Marks</th>
                        <th>Total Marks</th>
                    </tr>

                    {% for q in quiz_taken %}
                    <tr>
                        <td>{{ q.quiz }}</td>
                        <td>{{ q.course }}</td>
                        <td>{{ q.correctAnswers }}</td>
                        <td>{{ q.quiz.question_count }}</td>
                    </tr>
                    {% endfor %}
                </table>
            {% else %}
                <div class="alert alert-danger mt-1 mr-1 ml-3" role="alert">
                    No Quizzes completed.
                </div>
            {% endif %}
        </div>
        <div class="col-4 ">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src= "{%static 'images/character/characterProfileLev1.jpg'%}" alt="Card image cap"/>
                    <div class="card-body">
                    <h5 class="card-title">{{user.username}} </h5>
                    <p class="card-text">Level: {{user.character.evolutionStage}}</p>
                    <a href={% url 'dashboardStudent' %} class="btn btn-quizBuddy-4 mr-2" role="button">Go Back to the Dashboard</a>
                    </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}