{% extends 'base.html' %}

{% block title_block %}
        Teacher registration
{% endblock %}

{% block header_buttons %}
<a href={% url 'about' %} class="btn btn-quizBuddy-4 mr-2" role="button">About</a>
<a href={% url 'registerStudent' %} class="btn btn-quizBuddy-1 mr-2" role="button">Sign up, Student</a>
<a href={% url 'registerTeacher' %} class="btn btn-quizBuddy-1-dark mr-2" role="button">Sign up, Teacher</a>
{% endblock %}

{% block body_block%}
<div class="container">
<div class="row d-flex justify-content-center">
<div class="col-xl-5 col-lg-6 col-md-8 col-sm-10 mx-auto text-center form p-4">
  <h3 class="title" align="center" style="width: 34rem;">Register as Teacher</h3>
  <div class="card" style="width: 34rem;">
  <div class="card-body">
    {% if registered %}
    <strong>thank you for registering!</strong>
    <a href="{% url 'index' %}">Return to the homepage.</a><br />
    {% else %}
    Rango says: <strong>register here!</strong><br />
    <form id="user_form" method="post" action="{% url 'registerTeacher' %}" enctype="multipart/form-data">

      {% csrf_token %}

      <!-- Display each form -->
      {{ user_form.as_p }}

      <!-- Provide a button to click to submit the form. -->
      <input type="submit" name="submit" value="Register" />
    </form>
    {% endif %}
  </div>
  </div>
  </div>
  </div>
</div>
{% endblock %}
